hade{
    font-family: 'Otomanopee One', sans-serif;
}
.flexibal-contenir{
    display: flex;
    margin-top: 50px;
    width: 100%;
    
}
.orange-color{
    color: orange;
}
.part-one-text{
    margin-top: 200px;
    margin-left: 250px;
    
}
.part-one-images{
    padding-left: 300px;
}
.link-batoon{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 7px 30px;
    color: white;
    border-radius: 10%;
    font-weight: 600;
}
.hadder-font{
    font-size: 55px;
    font-weight: 900;
}
.part-tow{
    display: flex;
    background-image: url(Frame\ 58.jpg);
   
    width: 100%;
}
.part-tow-image{
    padding-left: 300px;
    padding-top: 50px

}
.part-tow-text{
    margin-top: 200px;
    padding-right: 300px;
    padding-left: 300px;
    

}
.part-tow-hedder{
    font-size: 30px;
}
.part-three-text{
    text-align: center;
    margin-top: 2%;
}
.part-three-flex{
    display: flex;
}

.img1{
    height: 250px;
    width: 90%;
    padding-top: 20px;
    padding-right: 50%;
    padding-left: 13px;
    
    margin-right: 40%;
}
.grup{
    width: 25%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 1%;
    border-radius: 8%;
    box-shadow: 10px 10px 40px grey;
}
.flex{
    display: flex;
    
}
.follower{
    display: flex;
}
footer{
    background-image: url(cool-background\ \(1\).png);
    text-align: center;
    color: grey;
    margin-top: 70px;
    
    width: 100%;
    padding-top: 5px;
    padding-bottom: 60px;
}


    